.chat{
    text-align: center;
}

.chatWindows{
    position: relative;
  height: 600px;
  margin-left: 550px;
  width: 400px;
  border: 3px solid #73AD21;
}

.button{
    font-size: 16px;
    padding: 8px;
}