<div class="chat">
    <label><strong> click here to Match</strong></label>
    <div style="margin-top: 10px;">
        <button class="button" (click)="createGroup() ">Ready</button>
        <button class="button" style="margin-left: 10px;" (click)="matchUsers()">Match</button>
        <p>{{isMatched}}</p>
    </div>
    <div class="chatWindows">
        <p style="text-align: left;" *ngFor="let message of messages">{{message}}</p>
    </div>
    <div style="margin-top: 10px;">
        <label >message: </label>
        <input type="text" size="40" [(ngModel)]="message" (keyup.enter)="postMessage()"><br>
        <button class="button" style="margin-top: 10px;" (click)="postMessage()">Send</button>
        <button class="button" style="margin-left: 10px;" (click)="fetchMessage()">Refresh</button>
    </div>

</div>