<div class="chat">
    <label>click here to Match</label>
    <div>
        <button (click)="matchUsers()">Match</button>
        <button (click)="createGroup()">Ready</button>
        <p>{{isMatched}}</p>
    </div>
    
    <br>
        <div class="chatWindows">
            <p *ngFor="let message of messages">{{message}}</p>
        </div>
    <br>
    <input type="text" [(ngModel)]="message"><br>
    <button (click)="postMessage()">Send</button>
    <button (click)="fetchMessage()">Refresh</button>
</div>
